<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//ES">
<html>
	<head>
		<title>MindGenerator</title>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>

        <script type="text/javascript">

            jQuery(document).ready(function () {

                jQuery("#login").dialog();
                jQuery("button").button();
            });
        </script>
	</head>
	<body>
	<div id="login" title="Log In">
        <table>
            <tr>
                <td><label>User:</label></td>
                <td><input /></td>
            </tr>
            <tr>
                <td><label>Pass:</label></td>
                <td><input /></td>
            </tr>
            <tr>
                <td></td>
                <td><button>Accept</button></td>
                <td></td>
            </tr>
        </table>
    </div>
	</body>
</html>