#title
{
    position: relative;
    float: left;
    width: 50%;
}

#lbTitle
{
    font-family: Calibri;
    font-size: 28px;
    font-style:italic;
    font-weight: bold;
    color: #8d26c0;
}

#info
{
    position:relative;
    float: right;
    margin-right: 10px;
    margin-top: -10px;
}

#info .ui-icon
{
    background-image: url(images/ui-icons_8d26c0_256x240.png) !important;
}

#btInfo
{
    background-color: transparent;
    border: none;
}

#radio
{
    float: right;
    margin-right: 53%;
}

span.ui-button-text
{
    font-size: 0.6em;
}

#buttons
{
    position:relative;
    float: left;
    margin-bottom: 7px;
    width: 100%;
}

#buttons button
{
    width:100px;
    height:30px;
}

#btEnviarNot
{
    margin-left:100px;
}

#listNotification
{
    position: relative;
    float: left;
    top: 5px;
    left: 0px;
    width: 50%;
    height: 80%;
    overflow-y:auto;
    overflow-x:hidden;
}

table.tableNot
{
    width: 95%;
    margin-left: 20px;
}

.tableNot tr
{
    width: 100%;
    height: auto;
    margin-top:20px;
    margin-bottom:20px;
    background: #dedede;
}

.tableNot td
{
    text-align: center;
}

td.numNot
{
    width:4%;
}

td.nomNot
{
    padding-left: 40px;
}

td.checkNot
{
    text-align: center;
}

#vistaNotificacion
{
    width: 40%;
    height: 300px;
    position: relative;
    float: right;
    margin-top: -30px;
}

#nuevaNotificacion
{
    position:relative;
    float:left;
    border: 1px solid #8d26c0;
    width: 100%;
}

#tituloNot table, #tituloNot input
{
    width:100%;
}

#msgNot table, #msgNot textarea
{
    width:100%;
}

#msgNot textarea
{
    height: 200px;
}